#root {
  margin: 0 auto;
  padding: 2rem;
  font-weight: bold;
}

/* Student Add Section */
.studentAddSection {
}

.studentAddSection > form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
  margin: auto;
}

.studentAddSection div {
  margin: auto;
}

.studentAddSection input {
  width: 100%;
  padding: 5px;
  margin: auto;
}

/* Student Show Section */
.studentShowSection {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 10px;
}

.studentShowSection > div {
  background-color: #ddd;
  border-radius: 5px;
  width: 100px;
  flex-grow: 1;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.studentShowSection > div:hover {
  transform: scale(1.05, 1.05);
}

.studentShowSection > div del {
  display: block;
  text-align: center;
  color: red;
  cursor: pointer;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  width: 20px;
  align-self: flex-end;
  text
}
