#root {
  margin: 0 auto;
  padding: 1px;
}

/* Student Add Section */

.studentAddForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.studentAddForm div {
  margin: auto;
}

.studentAddForm input {
  width: 250px;
  border-radius: 5px;
  padding: 8px;
}

.studentAddForm input[type="submit"] {
  width: 270px;
  margin-top: 5px;
  font-size: large;
}

.studentAddForm input[type="submit"]:hover {
  cursor: pointer;
  background-color: #ccc;
}

/* Student Show Section */
.studentShowSection {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 10px;
}

.studentShowSection > div {
  background-color: #ddd;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 250px;
}

.studentShowSection > div:hover {
  transform: scale(1.05, 1.05);
}

.deleteEditUpdateCancel {
  align-self: flex-end;
}

.deleteEditUpdateCancel del {
  text-align: center;
  color: red;
  cursor: pointer;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  width: 20px;
}

.deleteEditUpdateCancel span {
  color: green;
  cursor: pointer;
  margin-left: 5px;
}

.updateBody input {
  width: 90%;
  padding: 5px;
  border-radius: 5px;
}
